* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none !important;
  /* scrollbar-width: none !important;s */
}

body {
  overflow-x: hidden;
  background-color: #000;
}

::-webkit-scrollbar {
  /* display: none;
  width: 0;
  background: transparent; */
}

/* Hide scrollbar for IE, Edge and Firefox */
/* html,
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow: -moz-scrollbars-none; 
  scrollbar-color: transparent transparent;
} */

.no-scroll {
  overflow: hidden; /* Prevent scrolling */
}

/* Overlay styles */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/bkgrnd.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: transform 3s ease, opacity 3s ease;
}

/* Class to shrink the overlay */
.shrink {
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

#lotusImage {
  width: 200px;
}

.bounce {
  animation: bounce 1s infinite alternate;
}

/* Bounce animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

#lotusImage:hover {
  cursor: pointer;
}

.sections-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#backgroundVideo {
  z-index: 1;
}

#middle-1 {
  z-index: 2;
}

#middle-2 {
  z-index: 3;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* First section specific styles */
.first-section canvas {
  pointer-events: auto; /* Enable interactions for the first canvas */
  z-index: 4;
}

.lotus-trace-container {
  position: fixed;
  bottom: 20px;
  left: 40px;
  transform: none;
  display: flex;
  gap: 20px;
  z-index: 1000;
  pointer-events: auto;
}

.lotus-trace {
  width: 100px;
  height: auto;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.lotus-trace:hover {
  opacity: 1;
}

.flash {
  animation: flash 1s ease-in-out infinite alternate;
}

@keyframes flash {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#endSectionLotus {
  transition: opacity 0.5s ease;
}
